---
http_interactions:
- request:
    method: get
    uri: https://wsbexpress.dhl.com/sndpt/glDHLExpressTrack?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-86a12f5601aea527384d3f0a 0
      Clientside:
      - 79.0.151.27
      Content-Type:
      - text/xml; charset="utf-8"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<wsdl:definitions xmlns:s0=\"http://www.dhl.com\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:tns=\"http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s1=\"http://www.reactivity.com/xsdbundle/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment\">\n
        \ <wsdl:types>\n    <xsd:schema targetNamespace=\"http://www.dhl.com\">\n
        \         \n          <xsd:import namespace=\"http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment\"/>\n
        \         <xsd:element name=\"TrackingRequest\" type=\"s0:TrackingRequest\"/>\n
        \         <xsd:element name=\"TrackingResponse\" type=\"s0:TrackingResponse\"/>\n
        \         <xsd:complexType name=\"TrackingRequest\">\n            <xsd:sequence>\n
        \             <xsd:element name=\"Request\" type=\"s0:Request\"/>\n              <xsd:element
        minOccurs=\"0\" name=\"AWBNumber\" type=\"s0:ArrayOfAWBNumber\"/>\n              <xsd:element
        minOccurs=\"0\" name=\"LPNumber\" type=\"s0:ArrayOfTrackingPieceID\"/>\n              <xsd:element
        name=\"LevelOfDetails\" type=\"s0:LevelOfDetails\"/>\n              <xsd:element
        minOccurs=\"0\" name=\"PiecesEnabled\" type=\"xsd:string\"/>\n            </xsd:sequence>\n
        \         </xsd:complexType>\n          <xsd:complexType name=\"Request\">\n
        \           <xsd:sequence>\n              <xsd:element name=\"ServiceHeader\"
        type=\"s0:ServiceHeader\"/>\n            </xsd:sequence>\n          </xsd:complexType>\n
        \         <xsd:complexType name=\"ServiceHeader\">\n            <xsd:sequence>\n
        \             <xsd:element name=\"MessageTime\" type=\"xsd:dateTime\"/>\n
        \             <xsd:element name=\"MessageReference\" type=\"s0:MessageReference\"/>\n
        \           </xsd:sequence>\n          </xsd:complexType>\n          <xsd:simpleType
        name=\"MessageReference\">\n            <xsd:restriction base=\"xsd:string\">\n
        \             <xsd:whiteSpace value=\"preserve\"/>\n              <xsd:minLength
        value=\"28\"/>\n              <xsd:maxLength value=\"32\"/>\n            </xsd:restriction>\n
        \         </xsd:simpleType>\n          <xsd:simpleType name=\"AWBNumber\">\n
        \           <xsd:restriction base=\"xsd:string\">\n              <xsd:whiteSpace
        value=\"preserve\"/>\n              <xsd:minLength value=\"10\"/>\n              <xsd:maxLength
        value=\"11\"/>\n            </xsd:restriction>\n          </xsd:simpleType>\n
        \         <xsd:complexType name=\"ArrayOfAWBNumber\">\n<xsd:sequence>\n\t\t\t<xsd:element
        maxOccurs=\"unbounded\" name=\"ArrayOfAWBNumberItem\" type=\"s0:AWBNumber\"/>\n\t\t</xsd:sequence>\n\n
        \         </xsd:complexType>\n          <xsd:simpleType name=\"TrackingPieceID\">\n
        \           <xsd:restriction base=\"xsd:string\">\n              <xsd:whiteSpace
        value=\"preserve\"/>\n              <xsd:minLength value=\"1\"/>\n              <xsd:maxLength
        value=\"35\"/>\n            </xsd:restriction>\n          </xsd:simpleType>\n
        \         <xsd:complexType name=\"ArrayOfTrackingPieceID\">\n<xsd:sequence>\n\t\t\t<xsd:element
        maxOccurs=\"unbounded\" name=\"ArrayOfTrackingPieceIDItem\" type=\"s0:TrackingPieceID\"/>\n\t\t</xsd:sequence>\n\n
        \         </xsd:complexType>\n          <xsd:simpleType name=\"LevelOfDetails\">\n
        \           <xsd:restriction base=\"xsd:string\">\n              <xsd:whiteSpace
        value=\"preserve\"/>\n              <xsd:enumeration value=\"LAST_CHECK_POINT_ONLY\"/>\n
        \             <xsd:enumeration value=\"ALL_CHECK_POINTS\"/>\n            </xsd:restriction>\n
        \         </xsd:simpleType>\n          <xsd:complexType name=\"TrackingResponse\">\n
        \           <xsd:sequence>\n              <xsd:element name=\"Response\" type=\"s0:Response\"/>\n
        \             <xsd:element name=\"AWBInfo\" type=\"s0:ArrayOfAWBInfo\"/>\n
        \             <xsd:element minOccurs=\"0\" name=\"Fault\" type=\"s0:Faul[...]
- request:
    method: post
    uri: https://wsbexpress.dhl.com/sndpt/glDHLExpressTrack
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.dhl.com"
        xmlns:dhl="http://www.dhl.com"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>username</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">password</wsse:Password></wsse:UsernameToken><wsu:Timestamp
        wsu:Id="Timestamp-2" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2015-10-27T16:08:52Z</wsu:Created><wsu:Expires>2015-10-27T16:09:52Z</wsu:Expires></wsu:Timestamp></wsse:Security></env:Header><env:Body><tns:trackShipmentRequest><trackingRequest><dhl:TrackingRequest><Request><ServiceHeader><MessageTime>2015-10-27T17:08:52+01:00</MessageTime><MessageReference>1234567890123456789012345678</MessageReference></ServiceHeader></Request><AWBNumber><ArrayOfAWBNumberItem>5223281416</ArrayOfAWBNumberItem></AWBNumber><LevelOfDetails>ALL_CHECK_POINTS</LevelOfDetails><PiecesEnabled>B</PiecesEnabled></dhl:TrackingRequest></trackingRequest></tns:trackShipmentRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"glDHLExpressTrack_providers_services_trackShipment_Binder_trackShipmentRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Correlationid:
      - Id-86a12f56b792de086d6ae882 0
      Clientside:
      - 79.0.151.27
      Soapaction:
      - '"glDHLExpressTrack_providers_services_trackShipment_Binder_trackShipmentRequest"'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<env:Envelope xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n
        \  <env:Header></env:Header>\r\n   <env:Body>\r\n      <env:Fault>\r\n         <faultcode>env:Server</faultcode>\r\n
        \        <faultstring></faultstring>\r\n         <detail fault:type=\"Unauthorized\"
        xmlns:fault=\"http://www.dhl.com/soapfaults\"></detail>\r\n      </env:Fault>\r\n
        \  </env:Body>\r\n</env:Envelope>"
  recorded_at: Tue, 27 Oct 2015 16:08:53 GMT
recorded_with: VCR 2.5.0
