---
http_interactions:
- request:
    method: get
    uri: https://wsbuat.dhl.com:8300/gbl/glDHLExpressTrack?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions xmlns:s0=\"http://www.dhl.com\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:tns=\"http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s1=\"http://www.reactivity.com/xsdbundle/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment\"><wsdl:types><xsd:schema
        targetNamespace=\"http://www.dhl.com\">\n          \n          <xsd:import
        namespace=\"http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment\"/>\n
        \         <xsd:element name=\"TrackingRequest\" type=\"s0:TrackingRequest\"/>\n
        \         <xsd:element name=\"TrackingResponse\" type=\"s0:TrackingResponse\"/>\n
        \         <xsd:complexType name=\"TrackingRequest\">\n            <xsd:sequence>\n
        \             <xsd:element name=\"Request\" type=\"s0:Request\"/>\n              <xsd:element
        minOccurs=\"0\" name=\"AWBNumber\" type=\"s0:ArrayOfAWBNumber\"/>\n              <xsd:element
        minOccurs=\"0\" name=\"LPNumber\" type=\"s0:ArrayOfTrackingPieceID\"/>\n              <xsd:element
        name=\"LevelOfDetails\" type=\"s0:LevelOfDetails\"/>\n              <xsd:element
        minOccurs=\"0\" name=\"PiecesEnabled\" type=\"tns:PiecesEnabled\"/>\n            </xsd:sequence>\n
        \         </xsd:complexType>\n          <xsd:complexType name=\"Request\">\n
        \           <xsd:sequence>\n              <xsd:element name=\"ServiceHeader\"
        type=\"s0:ServiceHeader\"/>\n            </xsd:sequence>\n          </xsd:complexType>\n
        \         <xsd:complexType name=\"ServiceHeader\">\n            <xsd:sequence>\n
        \             <xsd:element name=\"MessageTime\" type=\"xsd:dateTime\"/>\n
        \             <xsd:element name=\"MessageReference\" type=\"s0:MessageReference\"/>\n
        \           </xsd:sequence>\n          </xsd:complexType>\n          <xsd:simpleType
        name=\"MessageReference\">\n            <xsd:restriction base=\"xsd:string\">\n
        \             <xsd:whiteSpace value=\"preserve\"/>\n              <xsd:minLength
        value=\"28\"/>\n              <xsd:maxLength value=\"32\"/>\n            </xsd:restriction>\n
        \         </xsd:simpleType>\n          <xsd:simpleType name=\"AWBNumber\">\n
        \           <xsd:restriction base=\"xsd:string\">\n              <xsd:whiteSpace
        value=\"preserve\"/>\n              <xsd:maxLength value=\"11\"/>\n            </xsd:restriction>\n
        \         </xsd:simpleType>\n          <xsd:complexType name=\"ArrayOfAWBNumber\">\n<xsd:sequence>\n\t\t\t<xsd:element
        maxOccurs=\"unbounded\" name=\"ArrayOfAWBNumberItem\" type=\"s0:AWBNumber\"/>\n\t\t</xsd:sequence>\n\n
        \         </xsd:complexType>\n          <xsd:simpleType name=\"TrackingPieceID\">\n
        \           <xsd:restriction base=\"xsd:string\">\n              <xsd:whiteSpace
        value=\"preserve\"/>\n              <xsd:minLength value=\"1\"/>\n              <xsd:maxLength
        value=\"35\"/>\n            </xsd:restriction>\n          </xsd:simpleType>\n
        \         <xsd:complexType name=\"ArrayOfTrackingPieceID\">\n<xsd:sequence>\n\t\t\t<xsd:element
        maxOccurs=\"unbounded\" name=\"ArrayOfTrackingPieceIDItem\" type=\"s0:TrackingPieceID\"/>\n\t\t</xsd:sequence>\n\n
        \         </xsd:complexType>\n          <xsd:simpleType name=\"LevelOfDetails\">\n
        \           <xsd:restriction base=\"xsd:string\">\n              <xsd:whiteSpace
        value=\"preserve\"/>\n              <xsd:enumeration value=\"LAST_CHECK_POINT_ONLY\"/>\n
        \             <xsd:enumeration value=\"ALL_CHECK_POINTS\"/>\n            </xsd:restriction>\n
        \         </xsd:simpleType>\n          <xsd:complexType name=\"TrackingResponse\">\n
        \           <xsd:sequence>\n              <xsd:element name=\"Response\" type=\"s0:Response\"/>\n
        \             <xsd:element name=\"AWBInfo\" type=\"s0:ArrayOfAWBInfo\"/>\n
        \             <xsd:element minOccurs=\"0\" name=\"Fault\" type=\"s0:Faul[...]
- request:
    method: post
    uri: https://wsbuat.dhl.com:8300/gbl/glDHLExpressTrack
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.dhl.com"
        xmlns:dhl="http://www.dhl.com"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>username</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">password</wsse:Password></wsse:UsernameToken><wsu:Timestamp
        wsu:Id="Timestamp-2" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2013-06-01T07:10:36Z</wsu:Created><wsu:Expires>2013-06-01T07:11:36Z</wsu:Expires></wsu:Timestamp></wsse:Security></env:Header><env:Body><tns:trackShipmentRequest><trackingRequest><dhl:TrackingRequest><Request><ServiceHeader><MessageTime>2013-06-01T07:10:33+00:00</MessageTime><MessageReference>1234567890123456789012345678</MessageReference></ServiceHeader></Request><AWBNumber><ArrayOfAWBNumberItem>5223281416</ArrayOfAWBNumberItem></AWBNumber><LevelOfDetails>ALL_CHECK_POINTS</LevelOfDetails><PiecesEnabled>B</PiecesEnabled></dhl:TrackingRequest></trackingRequest></tns:trackShipmentRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"glDHLExpressTrack_providers_services_trackShipment_Binder_trackShipmentRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <SOAP-ENV:Header xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"></SOAP-ENV:Header><SOAP-ENV:Body>
        <ser-root:trackShipmentRequestResponse xmlns:ser-root="http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment"><trackingResponse xmlns:ns="http://www.dhl.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <ns:TrackingResponse>
          <Response>
            <ServiceHeader>
              <MessageTime>2013-06-01T07:10:39Z</MessageTime>
              <MessageReference>5cc5a310ca8a11e2ba65db8895cd5f09</MessageReference>
            </ServiceHeader>
          </Response>
          <AWBInfo>
            <ArrayOfAWBInfoItem>
              <AWBNumber>5223281416</AWBNumber>
              <Status>
                <ActionStatus>Success</ActionStatus>
              </Status>
              <ShipmentInfo>
                <OriginServiceArea>
                  <ServiceAreaCode>AOI</ServiceAreaCode>
                  <Description>Ancona - Italy</Description>
                </OriginServiceArea>
                <DestinationServiceArea>
                  <ServiceAreaCode>CAI</ServiceAreaCode>
                  <Description>Cairo - Egypt</Description>
                  <FacilityCode></FacilityCode>
                </DestinationServiceArea>
                <ShipperName>SAIMA AVANDERO SPA  FEDERICA                 </ShipperName>
                <ConsigneeName>DSV AIR &amp; SEA                                </ConsigneeName>
                <ShipmentDate>2013-05-06T00:00:00+02:00</ShipmentDate>
                <Pieces>1</Pieces>
                <Weight>0.500</Weight>
                <ShipmentEvent>
                  <ArrayOfShipmentEventItem>
                    <Date>2013-05-06</Date>
                    <Time>17:08:00</Time>
                    <ServiceEvent>
                      <EventCode>PO</EventCode>
                      <Description>Processed at Origin</Description>
                    </ServiceEvent>
                    <Signatory></Signatory>
                    <ServiceArea>
                      <ServiceAreaCode>AOI</ServiceAreaCode>
                      <Description>Ancona - Italy</Description>
                    </ServiceArea>
                  </ArrayOfShipmentEventItem>
                </ShipmentEvent>
              </ShipmentInfo>
              <Pieces>
                <PieceInfo>
                  <ArrayOfPieceInfoItem>
                    <PieceDetails>
                      <AWBNumber>5223281416</AWBNumber>
                      <LicensePlate>JD012959581720045844</LicensePlate>
                      <ActualDepth>0.000</ActualDepth>
                      <ActualWidth>0.000</ActualWidth>
                      <ActualHeight>0.000</ActualHeight>
                      <Depth>0.000</Depth>
                      <Width>0.000</Width>
                      <Height>0.000</Height>
                      <Weight>0.500</Weight>
                      <PackageType></PackageType>
                      <DimWeight>0.060</DimWeight>
                      <WeightUnit>KG</WeightUnit>
                    </PieceDetails>
                    <PieceEvent>
                      <ArrayOfPieceEventItem>
                        <Date>2013-05-08</Date>
                        <Time>11:10:00</Time>
                        <ServiceEvent>
                          <EventCode>OK</EventCode>
                          <Description>Delivery </Description>
                        </ServiceEvent>
                        <Signatory>MOUSTFA SAYED</Signatory>
                        <ServiceArea>
                          <ServiceAreaCode>CAI</ServiceAreaCode>
                          <Description>Cairo - Egypt</Description>
                        </ServiceArea>
                        <ShipperReference xsi:nil="true"></ShipperReference>
                      </ArrayOfPieceEventItem>
                      <ArrayOfPieceEventItem>
                        <Date>2013-05-08</Date>
                        <Time>07:43:00</Time>
                        <ServiceEvent>
                          <EventCode>WC</EventCode>
                          <Description>With Delivering Courier </Description>
                        </ServiceEvent>
                        <ServiceArea>
                          <Serv[...]
