---
http_interactions:
- request:
    method: post
    uri: https://wsbuat.dhl.com:8300/gbl/glDHLExpressTrack
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.dhl.com"
        xmlns:dhl="http://www.dhl.com"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>username</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">password</wsse:Password></wsse:UsernameToken><wsu:Timestamp
        wsu:Id="Timestamp-2" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2013-06-01T07:10:40Z</wsu:Created><wsu:Expires>2013-06-01T07:11:40Z</wsu:Expires></wsu:Timestamp></wsse:Security></env:Header><env:Body><tns:trackShipmentRequest><trackingRequest><dhl:TrackingRequest><Request><ServiceHeader><MessageTime>2013-06-01T07:10:40+00:00</MessageTime><MessageReference>1234567890123456789012345678</MessageReference></ServiceHeader></Request><AWBNumber><ArrayOfAWBNumberItem>6676848301</ArrayOfAWBNumberItem></AWBNumber><LevelOfDetails>ALL_CHECK_POINTS</LevelOfDetails><PiecesEnabled>B</PiecesEnabled></dhl:TrackingRequest></trackingRequest></tns:trackShipmentRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"glDHLExpressTrack_providers_services_trackShipment_Binder_trackShipmentRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <SOAP-ENV:Header xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"></SOAP-ENV:Header><SOAP-ENV:Body>
        <ser-root:trackShipmentRequestResponse xmlns:ser-root="http://scxgxtt.phx-dc.dhl.com/glDHLExpressTrack/providers/services/trackShipment"><trackingResponse xmlns:ns="http://www.dhl.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <ns:TrackingResponse>
          <Response>
            <ServiceHeader>
              <MessageTime>2013-06-01T07:10:43Z</MessageTime>
              <MessageReference>5f543d30ca8a11e2bb63b2967c643bb9</MessageReference>
            </ServiceHeader>
          </Response>
          <AWBInfo>
            <ArrayOfAWBInfoItem>
              <AWBNumber>6676848301</AWBNumber>
              <Status>
                <ActionStatus>Success</ActionStatus>
              </Status>
              <ShipmentInfo>
                <OriginServiceArea>
                  <ServiceAreaCode>AOI</ServiceAreaCode>
                  <Description>Ancona - Italy</Description>
                </OriginServiceArea>
                <DestinationServiceArea>
                  <ServiceAreaCode>HAM</ServiceAreaCode>
                  <Description>Hamburg - Germany</Description>
                  <FacilityCode>HAM</FacilityCode>
                </DestinationServiceArea>
                <ShipperName>TECH-POL S.R.L.                              </ShipperName>
                <ConsigneeName>CKD SLG HAMBURG                              </ConsigneeName>
                <ShipmentDate>2013-05-06T15:00:00+02:00</ShipmentDate>
                <Pieces>1</Pieces>
                <Weight>6.000</Weight>
                <ShipmentEvent>
                  <ArrayOfShipmentEventItem>
                    <Date>2013-05-07</Date>
                    <Time>09:08:00</Time>
                    <ServiceEvent>
                      <EventCode>AR</EventCode>
                      <Description>Arrival in Delivery Facility</Description>
                    </ServiceEvent>
                    <Signatory></Signatory>
                    <ServiceArea>
                      <ServiceAreaCode>HAM</ServiceAreaCode>
                      <Description>Hamburg - Germany</Description>
                    </ServiceArea>
                  </ArrayOfShipmentEventItem>
                </ShipmentEvent>
              </ShipmentInfo>
              <Pieces>
                <PieceInfo>
                  <ArrayOfPieceInfoItem>
                    <PieceDetails>
                      <AWBNumber>6676848301</AWBNumber>
                      <LicensePlate>JD0003900005241328227</LicensePlate>
                      <ActualDepth>59.000</ActualDepth>
                      <ActualWidth>41.000</ActualWidth>
                      <ActualHeight>39.000</ActualHeight>
                      <Depth>60.000</Depth>
                      <Width>40.000</Width>
                      <Height>30.000</Height>
                      <Weight>6.000</Weight>
                      <PackageType></PackageType>
                      <DimWeight>7.250</DimWeight>
                      <WeightUnit>KG</WeightUnit>
                    </PieceDetails>
                    <PieceEvent>
                      <ArrayOfPieceEventItem>
                        <Date>2013-05-07</Date>
                        <Time>10:03:00</Time>
                        <ServiceEvent>
                          <EventCode>WC</EventCode>
                          <Description>With Delivering Courier </Description>
                        </ServiceEvent>
                        <ServiceArea>
                          <ServiceAreaCode>HAM</ServiceAreaCode>
                          <Description>Hamburg - Germany</Description>
                        </ServiceArea>
                        <ShipperReference xsi:nil="true"></ShipperReference>
                      </ArrayOfPieceEventItem>
                      <ArrayOfPieceEventItem>
                        <Date>2013-05-07</Date>
                        <Time>03:50:47</Time>
                        <ServiceEvent>
                          <EventCode>DF</EventCode>
                          <Description>Depart Facility </Description>
                        </ServiceEvent>
                        <ServiceArea>
                          <ServiceAreaC[...]
