---
http_interactions:
- request:
    method: get
    uri: https://wsbexpress.dhl.com/sndpt/expressRateBook?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-36933756e45780d8ea314e1d 0
      Clientside:
      - 79.0.151.27
      Content-Type:
      - text/xml; charset="utf-8"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<wsdl:definitions xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:s1=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:s5=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse\"
        xmlns:tns=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:s3=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:s6=\"http://www.reactivity.com/xsdbundle/\"
        xmlns:s4=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:s2=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse\"
        xmlns:s0=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/providerServices/ShipmentHandlingServices\"
        targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\">\n
        \ <wsdl:types>\n    <xsd:schema targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\">\n\t<xsd:element
        name=\"ShipmentRequest\" type=\"tns:docTypeRef_ProcessShipmentRequestType\"/>\n\t<xsd:complexType
        name=\"docTypeRef_ProcessShipmentRequestType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"MessageId\">\n\t\t\t\t<xsd:annotation>\n\t\t\t\t\t<xsd:documentation>logging
        end to end token</xsd:documentation>\n\t\t\t\t</xsd:annotation>\n\t\t\t\t<xsd:simpleType>\n\t\t\t\t\t<xsd:restriction
        base=\"xsd:string\">\n\t\t\t\t\t\t<xsd:maxLength value=\"200\"/>\n\t\t\t\t\t</xsd:restriction>\n\t\t\t\t</xsd:simpleType>\n\t\t\t</xsd:element>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"ClientDetail\" type=\"tns:docTypeRef_ClientDetailType2\"/>\n\t\t\t<xsd:element
        name=\"RequestedShipment\" type=\"tns:docTypeRef_RequestedShipmentType\"/>\n\t\t</xsd:all>\n\t</xsd:complexType>\n\t<xsd:complexType
        name=\"docTypeRef_ClientDetailType2\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"sso\" type=\"tns:sso\"/>\n\t\t\t<xsd:element minOccurs=\"0\"
        name=\"plant\" type=\"tns:plant\"/>\n\t\t</xsd:all>\n\t</xsd:complexType>\n\t<xsd:simpleType
        name=\"sso\">\n\t\t<xsd:restriction base=\"xsd:token\">\n\t\t\t<xsd:minLength
        value=\"0\"/>\n\t\t\t<xsd:whiteSpace value=\"collapse\"/>\n\t\t</xsd:restriction>\n\t</xsd:simpleType>\n\t<xsd:simpleType
        name=\"plant\">\n\t\t<xsd:restriction base=\"xsd:token\">\n\t\t\t<xsd:minLength
        value=\"0\"/>\n\t\t\t<xsd:whiteSpace value=\"collapse\"/>\n\t\t</xsd:restriction>\n\t</xsd:simpleType>\n\t<xsd:complexType
        name=\"docTypeRef_RequestedShipmentType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        name=\"ShipmentInfo\" type=\"tns:docTypeRef_ShipmentInfoType\"/>\n\t\t\t<xsd:element
        name=\"Sh[...]
- request:
    method: post
    uri: https://wsbexpress.dhl.com/sndpt/expressRateBook
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest"
        xmlns:ins1="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse"
        xmlns:ins2="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest"
        xmlns:ins3="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse"
        xmlns:ins4="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse"
        xmlns:dhl="http://www.dhl.com"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username><wsse:Username></wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText"><wsse:Password></wsse:Password></wsse:UsernameToken><wsu:Timestamp
        wsu:Id="Timestamp-2" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2015-11-02T16:45:42Z</wsu:Created><wsu:Expires>2015-11-02T16:46:42Z</wsu:Expires></wsu:Timestamp></wsse:Security></env:Header><env:Body><tns:ShipmentRequest><RequestedShipment><ShipmentInfo><DropOffType>REGULAR_PICKUP</DropOffType><ServiceType>N</ServiceType><Currency>EUR</Currency><UnitOfMeasurement>SI</UnitOfMeasurement><Account><wsse:Account></Account></ShipmentInfo><ShipTimestamp>2015-11-03T17:45:42GMT+01:00</ShipTimestamp><PaymentInfo>DAP</PaymentInfo><InternationalDetail><Commodities><NumberOfPieces>2</NumberOfPieces><Description>General
        goods</Description><CountryOfManufacture>IT</CountryOfManufacture></Commodities><Content>NON_DOCUMENTS</Content></InternationalDetail><Ship><Shipper><Contact><PersonName>John
        Doe</PersonName><CompanyName>ACME Inc</CompanyName><PhoneNumber>+391234567890</PhoneNumber><EmailAddress>john@example.com</EmailAddress></Contact><Address><StreetLines>Piazza
        Duomo, 1234</StreetLines><StreetLines2>Scala B</StreetLines2><City>Milano</City><PostalCode>20121</PostalCode><CountryCode>IT</CountryCode><StreetName>Piazza
        Duomo</StreetName><StreetNumber>1234</StreetNumber><StateOrProvinceCode>MI</StateOrProvinceCode></Address></Shipper><Recipient><Contact><PersonName>John
        Doe</PersonName><CompanyName>ACME Inc</CompanyName><PhoneNumber>+391234567890</PhoneNumber><EmailAddress>john@example.com</EmailAddress></Contact><Address><StreetLines>Piazza
        Duomo, 1234</StreetLines><StreetLines2>Scala B</StreetLines2><City>Milano</City><PostalCode>20121</PostalCode><CountryCode>IT</CountryCode><StreetName>Piazza
        Duomo</StreetName><StreetNumber>1234</StreetNumber><StateOrProvinceCode>MI</StateOrProvinceCode></Address></Recipient></Ship><Packages><RequestedPackages
        number="1"><Weight>50</Weight><Dimensions><Width>10</Width><Height>15</Height><Length>20</Length></Dimensions><CustomerReferences>Ref
        1</CustomerReferences></RequestedPackages><RequestedPackages number="2"><Weight>100</Weight><Dimensions><Width>40</Width><Height>45</Height><Length>35</Length></Dimensions><CustomerReferences>Ref
        2</CustomerReferences></RequestedPackages></Packages></RequestedShipment></tns:ShipmentRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"euExpressRateBook_providerServices_ShipmentHandlingServices_Binder_createShipmentRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Max-Forwards:
      - '20'
      X-Correlationid:
      - Id-37933756424c678e9a21bba7 0
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <SOAP-ENV:Header xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"></SOAP-ENV:Header><SOAP-ENV:Body>
        <shipresp:ShipmentResponse xmlns:shipresp="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse">
            <Notification code="0">
                <Message></Message>
            </Notification>
            <PackagesResult>
                <PackageResult number="1">
                    <TrackingNumber>JD012959120890022091</TrackingNumber>
                </PackageResult>
                <PackageResult number="2">
                    <TrackingNumber>JD012959120890022092</TrackingNumber>
                </PackageResult>
            </PackagesResult>
            <LabelImage>
                <LabelImageFormat>PDF</LabelImageFormat>
                <GraphicImage>JVBERi0xLjQKJeLjz9MKNSAwIG9iago8PC9UeXBlL1hPYmplY3QvUmVzb3VyY2VzPDwvUHJvY1NldFsvUERGL1RleHQvSW1hZ2VCL0ltYWdlQy9JbWFnZUldL0ZvbnQ8PC9GMSA2IDAgUi9GMiA3IDAgUj4+Pj4vU3VidHlwZS9Gb3JtL0JCb3hbMCAwIDI4MC42MyA1NjYuOTNdL01hdHJpeFsxIDAgMCAxIDAgMF0vTGVuZ3RoIDQxNDcvRm9ybVR5cGUgMS9GaWx0ZXIvRmxhdGVEZWNvZGU+PnN0cmVhbQp4nJVbXZMct5F8n1/Rj5J9bDa+AT3ZEmkFFWJYJ26E7sLyw8ZqxaU8y7V1dPjsX3/1AaASw9V5JT2QycnMQaMLqCp0z99Ox5Zy3lvY7umvx3Y++XrsOeBfO+F8ujt9d3p/cts/Tn77iug/ndyxvT796c/H9sPpb6I/tp/fnj6/Oj3/g9tc2H3Yrn4kBX/gNr9XckvH[...]
