---
http_interactions:
- request:
    method: get
    uri: https://wsbuat.dhl.com:8300/amer/GEeuExpressRateBook?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:tns=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:s5=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse\"
        xmlns:s3=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:s2=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:s6=\"http://www.reactivity.com/xsdbundle/\"
        xmlns:s4=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:s1=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse\"
        xmlns:s0=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/providerServices/ShipmentHandlingServices\"
        targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest\"><wsdl:types><xsd:schema
        targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\">\n\t<xsd:element
        name=\"ShipmentRequest\" type=\"s3:docTypeRef_ProcessShipmentRequestType\"/>\n\t<xsd:complexType
        name=\"docTypeRef_ProcessShipmentRequestType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"ClientDetail\" type=\"s3:docTypeRef_ClientDetailType2\"/>\n\t\t\t<xsd:element
        name=\"RequestedShipment\" type=\"s3:docTypeRef_RequestedShipmentType\"/>\n\t\t</xsd:all>\n\t</xsd:complexType>\n\t<xsd:complexType
        name=\"docTypeRef_ClientDetailType2\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"sso\" type=\"s3:sso\"/>\n\t\t\t<xsd:element minOccurs=\"0\"
        name=\"plant\" type=\"s3:plant\"/>\n\t\t</xsd:all>\n\t</xsd:complexType>\n\t<xsd:simpleType
        name=\"sso\">\n\t\t<xsd:restriction base=\"xsd:token\">\n\t\t\t<xsd:minLength
        value=\"0\"/>\n\t\t\t<xsd:whiteSpace value=\"collapse\"/>\n\t\t</xsd:restriction>\n\t</xsd:simpleType>\n\t<xsd:simpleType
        name=\"plant\">\n\t\t<xsd:restriction base=\"xsd:token\">\n\t\t\t<xsd:minLength
        value=\"0\"/>\n\t\t\t<xsd:whiteSpace value=\"collapse\"/>\n\t\t</xsd:restriction>\n\t</xsd:simpleType>\n\t<xsd:complexType
        name=\"docTypeRef_RequestedShipmentType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        name=\"ShipmentInfo\" type=\"s3:docTypeRef_ShipmentInfoType\"/>\n\t\t\t<xsd:element
        name=\"ShipTimestamp\" type=\"s3:ShipTimestamp\">\n\t\t\t\t<xsd:annotation>\n\t\t\t\t\t<xsd:documentation>Identifies
        the date and time the package is tendered. Both the date and time portions
        of\n\t\t\t\t\t the string are expected to be used. The date should not be
        a past date or a date more than 10 days in the\n\t\t\t\t\t future. The time
        is the local time of the shipment based on the shipper's time zone. The date
        component\n\t\t\t\t\t must be in the format: YYYY-MM-DD; the time component
        must be in the format: HH:MM:SS using a 24 hour\n\t\t\t\t\t  cl[...]
- request:
    method: post
    uri: https://wsbuat.dhl.com:8300/amer/GEeuExpressRateBook
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s3="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest"
        xmlns:ins1="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse"
        xmlns:ins2="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest"
        xmlns:ins3="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse"
        xmlns:ins4="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse"><env:Header><wsse:Security
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>username</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">password</wsse:Password></wsse:UsernameToken><wsu:Timestamp
        wsu:Id="Timestamp-2" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2013-05-08T12:36:29Z</wsu:Created><wsu:Expires>2013-05-08T12:37:29Z</wsu:Expires></wsu:Timestamp></wsse:Security></env:Header><env:Body><s3:ShipmentRequest><RequestedShipment><ShipmentInfo><DropOffType>REGULAR_PICKUP</DropOffType><ServiceType>N</ServiceType><Currency>EUR</Currency><UnitOfMeasurement>SI</UnitOfMeasurement><Account>123456789</Account></ShipmentInfo><ShipTimestamp>2013-05-09T14:36:26GMT+02:00</ShipTimestamp><PaymentInfo>DDP</PaymentInfo><InternationalDetail><Commodities><NumberOfPieces>2</NumberOfPieces><Description>General
        goods</Description></Commodities></InternationalDetail><Ship><Shipper><Contact><PersonName>John
        Doe</PersonName><CompanyName>ACME Inc</CompanyName><PhoneNumber>+391234567890</PhoneNumber><EmailAddress>john@example.com</EmailAddress></Contact><Address><StreetLines>Piazza
        Duomo, 1234</StreetLines><StreetLines2>Scala B</StreetLines2><City>Milano</City><PostalCode>20121</PostalCode><CountryCode>IT</CountryCode><StreetName>Piazza
        Duomo</StreetName><StreetNumber>1234</StreetNumber><StateOrProvinceCode>MI</StateOrProvinceCode></Address></Shipper><Recipient><Contact><PersonName>John
        Doe</PersonName><CompanyName>ACME Inc</CompanyName><PhoneNumber>+391234567890</PhoneNumber><EmailAddress>john@example.com</EmailAddress></Contact><Address><StreetLines>Piazza
        Duomo, 1234</StreetLines><StreetLines2>Scala B</StreetLines2><City>Milano</City><PostalCode>20121</PostalCode><CountryCode>IT</CountryCode><StreetName>Piazza
        Duomo</StreetName><StreetNumber>1234</StreetNumber><StateOrProvinceCode>MI</StateOrProvinceCode></Address></Recipient></Ship><Packages><RequestedPackages
        number="1"><Weight>50</Weight><Dimensions><Width>10</Width><Height>15</Height><Length>20</Length></Dimensions><CustomerReferences>Ref
        1</CustomerReferences></RequestedPackages><RequestedPackages number="2"><Weight>100</Weight><Dimensions><Width>40</Width><Height>45</Height><Length>35</Length></Dimensions><CustomerReferences>Ref
        2</CustomerReferences></RequestedPackages></Packages></RequestedShipment></s3:ShipmentRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"euExpressRateBook_providerServices_ShipmentHandlingServices_Binder_createShipmentRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <SOAP-ENV:Header xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"></SOAP-ENV:Header><SOAP-ENV:Body>
        <shipresp:ShipmentResponse xmlns:shipresp="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse">
          <Notification code="0">
            <Message></Message>
          </Notification>
          <PackagesResult>
            <PackageResult number="1">
              <TrackingNumber>JD012038742880323158</TrackingNumber>
            </PackageResult>
            <PackageResult number="2">
              <TrackingNumber>JD012038742880323159</TrackingNumber>
            </PackageResult>
          </PackagesResult>
          <LabelImage>
            <LabelImageFormat>PDF</LabelImageFormat>
            <GraphicImage>JVBERi0xLjQKJeLjz9MKOSAwIG9iago8PC9NYXRyaXhbMSAwIDAgMSAwIDBdL0ZpbHRlci9GbGF0ZURlY29kZS9UeXBlL1hPYmplY3QvRm9ybVR5cGUgMS9MZW5ndGggNDEyNC9SZXNvdXJjZXM8PC9Qcm9jU2V0Wy9QREYvVGV4dC9JbWFnZUIvSW1hZ2VDL0ltYWdlSV0vRm9udDw8L0YxIDEwIDAgUi9GMiAxMSAwIFI+Pj4+L1N1YnR5cGUvRm9ybS9CQm94WzAgMCAyODAuNjMgNTY2LjkzXT4+c3RyZWFtCniclVvLkhy3EbzPV/RRCputxhvwyRZJKyiLtixuhOywfNhYrbRUzHJtmQ4/vt71AFCJ4VKixYM2YzJz0NUAqgrd8/fTsaWc9xa2e/rz2M4nX489B/yzE86nu9PXpzcnt/3r5LfPif7DyR3by9Nf/nps357+Lvpj+/H706dXp09+6zYX9uS2q+9IwR+4ze+V3NKx[...]
