---
http_interactions:
- request:
    method: get
    uri: https://wsb.dhl.com/sndpt/expressRateBook?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:s1=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:s5=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse\"
        xmlns:s4=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:s3=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:s6=\"http://www.reactivity.com/xsdbundle/\"
        xmlns:tns=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:s2=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse\"
        xmlns:s0=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/providerServices/ShipmentHandlingServices\"
        targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest\"><wsdl:types><xsd:schema
        targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\">\n\t<xsd:element
        name=\"ShipmentRequest\" type=\"s4:docTypeRef_ProcessShipmentRequestType\"/>\n\t<xsd:complexType
        name=\"docTypeRef_ProcessShipmentRequestType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"MessageId\">\n\t\t\t\t<xsd:annotation>\n\t\t\t\t\t<xsd:documentation>logging
        end to end token</xsd:documentation>\n\t\t\t\t</xsd:annotation>\n\t\t\t\t<xsd:simpleType>\n\t\t\t\t\t<xsd:restriction
        base=\"xsd:string\">\n\t\t\t\t\t\t<xsd:maxLength value=\"200\"/>\n\t\t\t\t\t</xsd:restriction>\n\t\t\t\t</xsd:simpleType>\n\t\t\t</xsd:element>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"ClientDetail\" type=\"s4:docTypeRef_ClientDetailType2\"/>\n\t\t\t<xsd:element
        name=\"RequestedShipment\" type=\"s4:docTypeRef_RequestedShipmentType\"/>\n\t\t</xsd:all>\n\t</xsd:complexType>\n\t<xsd:complexType
        name=\"docTypeRef_ClientDetailType2\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"sso\" type=\"s4:sso\"/>\n\t\t\t<xsd:element minOccurs=\"0\"
        name=\"plant\" type=\"s4:plant\"/>\n\t\t</xsd:all>\n\t</xsd:complexType>\n\t<xsd:simpleType
        name=\"sso\">\n\t\t<xsd:restriction base=\"xsd:token\">\n\t\t\t<xsd:minLength
        value=\"0\"/>\n\t\t\t<xsd:whiteSpace value=\"collapse\"/>\n\t\t</xsd:restriction>\n\t</xsd:simpleType>\n\t<xsd:simpleType
        name=\"plant\">\n\t\t<xsd:restriction base=\"xsd:token\">\n\t\t\t<xsd:minLength
        value=\"0\"/>\n\t\t\t<xsd:whiteSpace value=\"collapse\"/>\n\t\t</xsd:restriction>\n\t</xsd:simpleType>\n\t<xsd:complexType
        name=\"docTypeRef_RequestedShipmentType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        name=\"ShipmentInfo\" type=\"s4:docTypeRef_ShipmentInfoType\"/>\n\t\t\t<xsd:element
        name=\"Shi[...]
- request:
    method: post
    uri: https://wsb.dhl.com/sndpt/expressRateBook
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s4="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest"
        xmlns:ins1="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest"
        xmlns:ins2="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse"
        xmlns:ins3="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse"
        xmlns:ins4="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse"
        xmlns:dhl="http://www.dhl.com"><env:Header><wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>username</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">password</wsse:Password></wsse:UsernameToken><wsu:Timestamp
        wsu:Id="Timestamp-2" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsu:Created>2015-10-27T15:42:55Z</wsu:Created><wsu:Expires>2015-10-27T15:43:55Z</wsu:Expires></wsu:Timestamp></wsse:Security></env:Header><env:Body><s4:ShipmentRequest><RequestedShipment><ShipmentInfo><DropOffType>REGULAR_PICKUP</DropOffType><ServiceType>N</ServiceType><Currency>EUR</Currency><UnitOfMeasurement>SI</UnitOfMeasurement><Account>123456789</Account></ShipmentInfo><ShipTimestamp>2015-10-28T16:42:51GMT+01:00</ShipTimestamp><PaymentInfo>DAP</PaymentInfo><InternationalDetail><Commodities><NumberOfPieces>2</NumberOfPieces><Description>General
        goods</Description><CountryOfManufacture>IT</CountryOfManufacture></Commodities><Content>NON_DOCUMENTS</Content></InternationalDetail><Ship><Shipper><Contact><PersonName>John
        Doe</PersonName><CompanyName>ACME Inc</CompanyName><PhoneNumber>+391234567890</PhoneNumber><EmailAddress>john@example.com</EmailAddress></Contact><Address><StreetLines>Piazza
        Duomo, 1234</StreetLines><StreetLines2>Scala B</StreetLines2><City>Milano</City><PostalCode>20121</PostalCode><CountryCode>IT</CountryCode><StreetName>Piazza
        Duomo</StreetName><StreetNumber>1234</StreetNumber><StateOrProvinceCode>MI</StateOrProvinceCode></Address></Shipper><Recipient><Contact><PersonName>John
        Doe</PersonName><CompanyName>ACME Inc</CompanyName><PhoneNumber>+391234567890</PhoneNumber><EmailAddress>john@example.com</EmailAddress></Contact><Address><StreetLines>Piazza
        Duomo, 1234</StreetLines><StreetLines2>Scala B</StreetLines2><City>Milano</City><PostalCode>20121</PostalCode><CountryCode>IT</CountryCode><StreetName>Piazza
        Duomo</StreetName><StreetNumber>1234</StreetNumber><StateOrProvinceCode>MI</StateOrProvinceCode></Address></Recipient></Ship><Packages><RequestedPackages
        number="1"><Weight>50</Weight><Dimensions><Width>10</Width><Height>15</Height><Length>20</Length></Dimensions><CustomerReferences>Ref
        1</CustomerReferences></RequestedPackages><RequestedPackages number="2"><Weight>100</Weight><Dimensions><Width>40</Width><Height>45</Height><Length>35</Length></Dimensions><CustomerReferences>Ref
        2</CustomerReferences></RequestedPackages></Packages></RequestedShipment></s4:ShipmentRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"euExpressRateBook_providerServices_ShipmentHandlingServices_Binder_createShipmentRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Forbidden
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><soap:Fault><faultcode xmlns="">soap:Client</faultcode><faultstring xmlns="">Forbidden</faultstring><faultactor xmlns="">internal-firewall</faultactor><detail xmlns="" xmlns:det="http://reactivity.com/"><det:detailmessage>Forbidden.  You are not allowed to access that resource.
        </det:detailmessage></detail></soap:Fault></soap:Body></soap:Envelope>
  recorded_at: Tue, 27 Oct 2015 15:42:57 GMT
- request:
    method: get
    uri: https://wsbexpress.dhl.com/sndpt/expressRateBook?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-64a12f5654929b3c5f4bdf8f 0
      Clientside:
      - 79.0.151.27
      Content-Type:
      - text/xml; charset="utf-8"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<wsdl:definitions xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:s1=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgRequest\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:s5=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentResponse\"
        xmlns:tns=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:s3=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgResponse\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:s6=\"http://www.reactivity.com/xsdbundle/\"
        xmlns:s4=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/DeleteShipmentRequest\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:s2=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgResponse\"
        xmlns:s0=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/providerServices/ShipmentHandlingServices\"
        targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\">\n
        \ <wsdl:types>\n    <xsd:schema targetNamespace=\"http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest\">\n\t<xsd:element
        name=\"ShipmentRequest\" type=\"tns:docTypeRef_ProcessShipmentRequestType\"/>\n\t<xsd:complexType
        name=\"docTypeRef_ProcessShipmentRequestType\">\n\t\t<xsd:all>\n\t\t\t<xsd:element
        minOccurs=\"0\" name=\"MessageId\">\n\t\t\t\t<xsd:annotation>\n\t\t\t\t\t<xsd:documentation>logging
        end to end token</xsd:documentation>\n\t\t\t\t</xsd:annotation>\n\t\t\t\t<xsd:simpl[...]
- request:
    method: post
    uri: https://wsbexpress.dhl.com/sndpt/expressRateBook
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/ShipmentMsgRequest"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://scxgxtt.phx-dc.dhl.com/euExpressRateBook/RateMsgR[...]
